# Simple Linear Regression

Here is a simple example of regression to get started.

The entire idea of regression is to take continuous data and to find a best-fit line to that data. To to this, we create a _model_ of our data and the way that we do that with simple linear regression is with a straight line. That's the reason this entire algorithm is based off the equation for a straight line, $y = mx + b$

The whole time during regression is to figure out the right values for $m$ and $b$.

You'll see regression pop up in stock price analysis primarily. This works ideally since all the features of a stock are continuous. In this example, we're building a model for simple linear regression to work on stock data.

---

## Import libraries

### Why Quandl?

Quandl is a premier publisher of alternative data for institutional investors. A dedicated team of data scientists, quants and engineers combine uncompromising curation, high quality standards and experienced data science application to provide some of the most powerful data available today. Quandl also publishes free data, scraped from the web and delivered via Nasdaq Data Link’s industry-leading data delivery platform. For more information about Quandl, see [this page](data.nasdaq.com/publishers/qdl).

In [2]:
import pandas as pd
import quandl

Each dataset on the Nasdaq data link site has it's own code that allows you to access the dataset using the Quandl API. You could also copy the entire line of code required to import the dataset from it's page.

In [4]:
df = quandl.get("FINRA/FNYX_GOOGL")

Print out the dataframe.

In [6]:
df

            ShortVolume  ShortExemptVolume  TotalVolume
Date
2014-04-03      88639.0                0.0     220457.0
2014-04-04     100488.0                0.0     266648.0
2014-04-07      83192.0                0.0     175611.0
2014-04-08      65126.0                0.0     209328.0
2014-04-09      50757.0                0.0     156089.0
...                 ...                ...          ...
2022-12-12    1054371.0             7751.0    1547158.0
2022-12-13     315726.0            10978.0    1148199.0
2022-12-14     240019.0             5607.0     947417.0
2022-12-15    2788514.0             3481.0    3299666.0
2022-12-16     624919.0             2155.0    1365135.0

[2188 rows x 3 columns]